.cards {
  display: flex;
  flex-wrap: wrap;
  .card {
    flex-grow: 1;
    width: 200px;
    height: 400px;
    align-items: flex-end;
    button {
      position: relative;
      top: 50%;
      left: 45%;
      @include size(75px, 75px);
      border: none;
      border-radius: 50px;
      background-color: $grey-btn;
      i {
        font-size: 2em;
      }
    }

    // .border {
    //   @include size(10%, 1px);
    //   border-bottom: 5px solid $orange;
    //   position: relative;
    //   left: 10%;
    //
    // }
    // p {
    //   @include text($main, $white);
    //   position: relative;
    //   left: 10%;
    // }
  }
.card:hover {
   button{
     transform: scale(1.2);}
}
  .card:nth-of-type(1) {
    @include cards(1.8, 525px, url('../img/rafting.jpg'));
    background-position: left;
  }
  .card:nth-of-type(2) {
    @include cards(1, 369.5px, url('../img/camp.jpg'));
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card:nth-of-type(3) {
    @include cards(1, 369.5px, url('../img/backpacking.jpg'));
    background-position: top;
  }
  .card:nth-of-type(4) {
    @include cards(1, 369.5px, url('../img/canoe.jpg'));
    background-size: auto;
    background-position: center;
  }
  .card:nth-of-type(5) {
    @include cards(1, 369.5, url('../img/photography.jpg'));
    background-position: right;
  }
  .card:nth-of-type(6) {
    @include cards(1.8, 400px, url('../img/custom.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
}
