//fonts
$header : 'PT Serif', serif;
$main   : 'Fjalla One', sans-serif;

//colors
$white  : white;
$orange : #DC7725;
$grey   : rgb(189,189,183);

$grey-btn : rgba(95, 90, 90, .7);

//media queries
$brk-md : '(max-width: 768px)';
